.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 175px 15px 175px;
  width: 100%;
  gap: 20%;
}

.search {
  width: 40%;
}

.actions {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 5px;
    gap: 20px;
  }

  .title,
  .actions {
    display: none;
  }

  .search {
    width: 90%;
  }
}
