.image {
  width: 25%;
}

.title {
  font-weight: bold;
  font-size: 20px;
  word-wrap: break-word;
  margin-bottom: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .actions,
  .image,
  .date {
    display: none;
  }

  .content {
    width: 100%;
  }

  .title {
    font-size: 16px;
  }
}
